---
import '../styles/global.css';

import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'My Awesome Blog';
const description = 'Blog pribadi berisi catatan belajar, eksperimen, dan hal-hal menarik seputar web development.';
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
</BaseLayout>
